// this is to prevent overscrolling: http://stackoverflow.com/questions/12046315/prevent-overscrolling-of-web-page
@import "colors";
@import "bootstrap-override";

.root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    .top-bar {
        display: flex;
        align-items: center;
        padding-left: 10px;
        font-weight: bold;
        width: 100%;
        background-color: @color-primary;
        color: white;
        font-size: 20px;
        flex: 0 0 40px;
    }
    .content {
        flex: 1 1 auto;
        display: flex;
        .side-bar {
            flex: 0 0 50px;
            background-color: #676767;
            border-right: 1px solid #444444;
            color: white;
            font-size: 25px;
            text-align: center;
            .create-button {
                padding: 10px;
                cursor: pointer;
            }
            .create-button:hover {
                background-color: #343434;
            }
        }
        .main-content {
            flex-grow: 1;
        }
    }
}
