@import "colors";

.task-detail {
    display: flex;
    flex-direction: column;
    .task-activities {
        padding: 8px;
        flex-grow: 1;
    }
    .task-headers {
        &.pending-change {
            background-color: lightyellow;
        }
        .task-headers-inner {
            padding: 8px;
            .top-row {
                display: flex;
                flex-shrink: 0;
                justify-content: space-between;
                margin-bottom: 20px;
                .task-title {
                    flex-grow: 1;
                    font-size: 20px;
                    font-weight: bold;
                }
                .save-button {
                    width: 60px;
                    border: none;
                    color: white;
                    background-color: @color-primary;
                    border-radius: 2px;
                    padding: 5px 10px 6px;
                }
                .save-button:hover {
                    background-color: @color-primary-hover;
                }
                .save-button:disabled {
                    background-color: @color-primary-disabled;
                }
            }
            .task-field {
                display: flex;
                align-items: flex-start;
                margin: 5px 0;
                flex-shrink: 0;
                &.owner {
                    .Select {
                        min-width: 170px;
                    }
                }
                &.description {
                    .content {
                        flex-grow: 1;
                        resize: none;
                        border: 1px solid lightgray;
                        border-radius: 3px;
                    }
                }
                &.priority {
                    display: flex;
                    align-items: flex-start;
                    .Select {
                        width: 110px;
                        .Select-value {
                            cursor: pointer;
                        }
                    }
                }
                &.tags, &.subscribers {
                    .Select {
                        flex-grow: 1;
                    }
                }
                .name {
                    width: 130px;
                }
            }
        }
    }
}
