@import "colors";
.toggle-button {
    width: 70px;
    height: 25px;
    display: flex;
    border-radius: 2px;
    cursor: pointer;
    &.active {
        border: 2px solid @color-primary;
        .left {
            background-color: @color-primary;
            width: 80%;
            color: white;
        }
        .right {
            width: 20%;
            background-color: white;
        }
    }
    &.passive {
        border: 2px solid darkgray;
        .left {
            width: 20%;
            background-color: white;
        }
        .right {
            background-color: darkgray;
            width: 80%;
            color: white;
        }
    }
    &.active .left, &.passive .right {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1px;
    }
}